<div style="height: 100vh; display: flex; align-items: center; justify-content: center">
  <mat-card style="width: 300px">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerForm">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="name" placeholder="Username" type="text" />
          @if (registerForm.get('name')?.hasError('required')) {
            <mat-error>Username is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email" type="email" />
          @if (registerForm.get('email')?.hasError('required')) {
            <mat-error>Email is required</mat-error>
          } @else if (registerForm.get('email')?.hasError('email')) {
            <mat-error>Invalid email</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="Password" type="password" />
          @if (registerForm.get('password')?.hasError('required')) {
            <mat-error>Password is required</mat-error>
          }
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="register()">Register</button>
      <button mat-button color="accent" (click)="goToLogin()">Go to login page</button>
    </mat-card-actions>
  </mat-card>
</div>
